body {
	background-color: white;
	font-family: Arial, sans-serif; 
	font-size: 14px;
}
h1 {
	color: #bf1e2e;
	font-family: Arial, sans-serif;
	font-size: 60px;
	text-align: center;
}
h3{
	color: black;
	font-family: Arial, sans-serif;
	font-size: 25px;
}
h4 {
	font-family: Arial, sans-serif; 
	font-size: 16px;

}
p{
	font-family: Arial, sans-serif; 
	font-size: 14px;
}

#slogan{
	font-style: italic;
	text-align: center;
}
.important {
	color: #bf1e2e; 
}

div.width {
    max-width:1200px;
    margin: auto;
    border: 2px solid #A9A9A9;
    margin: 100px 150px 100px 80px
}