body {
	background-color: white;

}
h1 {
	color: #bf1e2e;
	font-family: Arial, sans-serif;
	font-size: 20px;
	text-align: center;
}
h3{
	color: black;
	font-family: Arial, sans-serif;
	font-size: 18px;
}
h4 {
	font-family: Arial, sans-serif; 
	font-size: 16px;

}
p{
	font-family: Arial, sans-serif; 
	font-size: 14px;
}
img {
	align-self: center;
}

#slogan{
	font-style: italic;
}
.important {
	color: #bf1e2e; 
}